### Build Prediction Model to predict how many times a user will listen to an Artistâ€™s songs

In [1]:
import pandas as pd

In [2]:
# Read file
plays_data = pd.read_csv("/cxldata/gle/usersha1-artmbid-artname-plays.tsv",sep="\t",header=None)

In [3]:
plays_data.columns = ["user_id","artist_id","artist_name","no_plays"]

In [4]:
# Read user profile data
user_profile = pd.read_csv("/cxldata/gle/usersha1-profile.tsv", sep="\t",header=None)
user_profile.head()

,0,1,2,3,4
0,00000c289a1829a808ac09c00daf10bc3c4e223b,f,22.0,Germany,"Feb 1, 2007"
1,00001411dc427966b17297bf4d69e7e193135d89,f,NaN,Canada,"Dec 4, 2007"
2,00004d2ac9316e22dc007ab2243d6fcb239e707d,NaN,NaN,Germany,"Sep 1, 2006"
3,000063d3fe1cf2ba248b9e3c3f0334845a27a6bf,m,19.0,Mexico,"Apr 28, 2008"
4,00007a47085b9aab8af55f52ec8846ac479ac4fe,m,28.0,United States,"Jan 27, 2006"

In [5]:
user_profile.columns = ["user_id","gender","age","country","registered_on"]
len(set(user_profile["user_id"]))

359347

## Predict number of times user will listen to an Artist

In [6]:
tot_plays_user = plays_data.groupby("user_id")["no_plays"].sum()
tot_plays_artist = plays_data.groupby("artist_id")["no_plays"].sum()
tot_plays_user.shape

(358868,)

In [7]:
tot_plays_user.sort_values(ascending=False,inplace=True)
tot_plays_artist.sort_values(ascending=False,inplace=True)

In [8]:
# We next select the top 50k artists as per the no of times they have been played
top_50k_users = tot_plays_user.index[0:50000]

In [9]:
selected_artist = tot_plays_artist.index[0]
selected_artist

'b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d'

In [10]:
# WE next filter our total plays dataset on this artist id as well as the top 50k user ids
artist_play_data = plays_data[(plays_data["artist_id"] == selected_artist) & (plays_data["user_id"].isin(top_50k_users))]

In [11]:
artist_play_data.head()

,user_id,artist_id,artist_name,no_plays
257,0000c176103e538d5c9828e695fed4f7ae42dd01,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,704
547,000163263d2a41a3966a3746855b8b75b7d7aa83,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,170
1544,000532f6886f086f61037acd896828f0b5b36bf2,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,3182
2050,000752c87a61bc4247f5219b4769c347c0062c8a,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,248
10080,00248667343aef7179c66db4d3d4de737403c572,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,321

In [12]:
# We can now directly map the user features on this file,Map features
model_df_with_features = pd.merge(artist_play_data, user_profile, on = "user_id",how="left")
model_df_with_features.head()

,user_id,artist_id,artist_name,no_plays,gender,age,country,registered_on
0,0000c176103e538d5c9828e695fed4f7ae42dd01,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,704,m,20.0,United Kingdom,"Jan 14, 2006"
1,000163263d2a41a3966a3746855b8b75b7d7aa83,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,170,m,27.0,Sweden,"Jan 5, 2007"
2,000532f6886f086f61037acd896828f0b5b36bf2,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,3182,f,NaN,Finland,"Feb 12, 2006"
3,000752c87a61bc4247f5219b4769c347c0062c8a,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,248,f,21.0,United States,"Jul 18, 2005"
4,00248667343aef7179c66db4d3d4de737403c572,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,321,m,20.0,Sweden,"Apr 15, 2004"

In [13]:
# As before we do a median imputation for age and mode imputation for gender
age_impute = model_df_with_features["age"].mean()
gender_impute = model_df_with_features["gender"].value_counts().index[0]
model_df_with_features.fillna({"age": age_impute, "gender": gender_impute}, inplace = True)

,user_id,artist_id,artist_name,no_plays,gender,age,country,registered_on
0,0000c176103e538d5c9828e695fed4f7ae42dd01,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,704,m,20.000000,United Kingdom,"Jan 14, 2006"
1,000163263d2a41a3966a3746855b8b75b7d7aa83,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,170,m,27.000000,Sweden,"Jan 5, 2007"
2,000532f6886f086f61037acd896828f0b5b36bf2,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,3182,f,24.857292,Finland,"Feb 12, 2006"
3,000752c87a61bc4247f5219b4769c347c0062c8a,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,248,f,21.000000,United States,"Jul 18, 2005"
4,00248667343aef7179c66db4d3d4de737403c572,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,321,m,20.000000,Sweden,"Apr 15, 2004"
5,00277ccecc376837e57b6d6b58330d1bafc90c73,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,6106,m,31.000000,Brazil,"Nov 11, 2007"
6,0033ee7378661b88b245b1f67cc622ff63a51061,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,39655,m,24.857292,United States,"Jun 5, 2006"
7,003c3c21a7ee4f8ce34e82f204d5aaf63432de87,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,262,m,22.000000,Turkey,"Mar 14, 2007"
8,00458c96257bab27657adca90732ecc4904300de,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,1493,f,24.000000,Ghana,"Jan 28, 2006"
9,00489b25aafa16486bc0b5521fe001f46cc55b34,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,285,m,21.000000,Sweden,"Aug 30, 2007"
10,004925481f89f9987859b335c70b2352935e9ef6,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,394,f,21.000000,Syrian Arab Republic,"Jul 3, 2006"
11,0049b5ec202f9422487568e6016bcf7cad8feec4,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,232,m,44.000000,Sweden,"Jan 19, 2008"
12,00529a4760520df57305d20b5c48baeea4718b71,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,521,m,28.000000,Sweden,"May 11, 2007"
13,00560ad48e0f906da818b3a4ea0491d6c300f9cc,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,582,m,28.000000,Israel,"Mar 15, 2006"
14,00562cdf605a5bfe55bd971cb23bd4d05115d862,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,477,m,39.000000,United States,"Oct 17, 2008"
15,0058eda03d466e1e6de7512ce290e61c5272f7cc,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,353,f,17.000000,United States,"Dec 16, 2007"
16,0059f13cda56f7a546fb9be1b8b0604add2761f1,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,4700,m,21.000000,Brazil,"Dec 4, 2007"
17,006ecc779bf14bb2755ce88daf9e19b3fe4d7111,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,209,m,23.000000,United Kingdom,"Dec 14, 2006"
18,006ee571d46691be0f199458383ba3091f76f0f8,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,3179,m,21.000000,Russian Federation,"Dec 21, 2008"
19,006f93b4213be13020a3819e0d0a86dcf97b58de,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,811,m,24.857292,Australia,"Nov 15, 2007"
20,0071b4979f4066252065c3c72e8af237f42b6ed7,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,609,f,21.000000,United States,"Aug 9, 2005"
21,007aba22307934291990de7c6b72fef9af00ce8b,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,399,m,24.000000,United States,"May 21, 2005"
22,007cbd2af9e90ba0314ea57b6784d014f1eff4dc,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,179,m,18.000000,United Kingdom,"Oct 22, 2006"
23,0080a6b930ef753f30d2d01a700dd5d5eda6c8ca,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,1052,m,31.000000,United States,"Jul 20, 2005"
24,0085b81ebf685d626c781cd108750d51ec33ab01,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,428,m,38.000000,United States,"Feb 10, 2003"
25,008eba7fbe597f0754b617e7ff53f157003086a5,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,1084,m,24.857292,United States,"Jul 7, 2008"
26,008f9488275cd2f1c8c7e1e5208ffeec0e5c1bf4,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,1963,m,25.000000,Brazil,"May 24, 2007"
27,0098c39506e23ee535fd5eb84a7bdebc39cf447e,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,397,m,20.000000,United Kingdom,"Jun 12, 2005"
28,009cf12dd18046dd0eb32f6035092817389843b3,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,322,m,36.000000,Canada,"Dec 30, 2007"
29,00a0ec73d5e7459233276ae9fa045a468b437fe8,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,906,m,24.857292,United States,"Jul 14, 2006"
...,...,...,...,...,...,...,...,...
12234,ff7b1e9315c6a22ad80cf5fa21b9e410162bfcb8,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,477,m,21.000000,United States,"Jan 24, 2007"
12235,ff7e268812f6aeb96a2b9044c5c760e93636a8cd,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,477,m,24.000000,Spain,"Dec 23, 2007"
12236,ff8284ab73a03cbf48d3979f4012b4fcf9f101f5,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,2556,m,19.000000,Canada,"Jul 10, 2005"
12237,ff845afea6d512f5c77402cb80f896886c2170b6,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,432,m,31.000000,Switzerland,"Apr 1, 2006"
12238,ff85daacf2bbe66a76f15121e935715f751d850e,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,475,m,18.000000,Mexico,"Jul 13, 2007"
12239,ff8b6a6bb53fc08dc9f0149fb4de3cb89a1da763,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,2883,m,26.000000,Germany,"Jul 11, 2006"
12240,ff8c27cd915da073a0e0794336b34d8e33d06944,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,286,m,24.857292,Canada,"Dec 20, 2007"
12241,ff8da4c15f3b86a6c823762cd09fe96763a4d652,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,366,f,23.000000,United States,"Oct 13, 2007"
12242,ff95340da10f178a1223cab5802669c035cea753,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,930,m,24.857292,Germany,"Jan 26, 2005"
12243,ff996b6a7599e6d3e788112ff330bb4d39019367,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,9530,m,24.857292,Finland,"May 26, 2006"
12244,ffbbd9e0a6c65bf15f076e8c97fe9c94cdfe456c,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,858,m,23.000000,United States,"Sep 30, 2005"
12245,ffbf7321ace55130c4df0c5e58a7e4dcd49d6a69,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,276,m,20.000000,Russian Federation,"Feb 1, 2007"
12246,ffc3790e163ad2af7a5d68c5e7e3e2fd360121c6,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,345,m,24.857292,United States,"Mar 14, 2007"
12247,ffcb2f93a9c674521405728888edc82134de400e,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,816,m,23.000000,Sweden,"Mar 16, 2005"
12248,ffd8ba47692172a26064f26bb3b69f4101a8982c,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,251,m,30.000000,Greece,"Sep 16, 2006"
12249,ffd984144150653c085d0f7b32999800dccaff3d,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,626,m,25.000000,Singapore,"Jul 25, 2005"
12250,ffdaf4f8b5f3e7d975208611155653a2f3180d88,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,501,m,18.000000,Spain,"Jul 24, 2007"
12251,ffdee69a3ecea16123e37f7b16b87ddbdfcf326a,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,334,m,26.000000,United States,"Mar 18, 2005"
12252,ffe0116edb62008885eeda31990f109cf39dfd35,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,214,m,25.000000,United States,"Dec 16, 2004"
12253,ffe44bc49baf5fa1a475a5d73922faf58e13ae01,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,1493,m,25.000000,United States,"Oct 10, 2007"
12254,ffe728d3f6e7ea7b3f4c89803d62c7ff51a24cf3,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,670,f,23.000000,Australia,"Jan 3, 2006"
12255,ffe86dad78ae4d122bd6a13fd4e6da12cc5f36a9,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,649,m,21.000000,Finland,"Jul 15, 2005"
12256,ffee40c3deb9ac6576255c51b12276034229613e,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,1938,f,24.857292,United States,"Apr 8, 2005"
12257,fff551b945c9489b11dcc1c46c9d7382879e413d,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,3245,m,24.000000,Mexico,"Nov 15, 2006"
12258,fff63dc28d57c01c059d2f2d61b983b278cd0fce,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,396,m,19.000000,Australia,"Jul 24, 2006"
12259,fff94b39549aa72d76d50be618b90abe44bd0f3f,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,628,f,20.000000,Sweden,"Sep 19, 2006"
12260,fff9cc8f46f8bcd31402bb9f82e020b5dc387f4b,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,722,m,27.000000,Netherlands,"Apr 12, 2006"
12261,fffa645d02bc5dce35139644a00d47c3006e91c2,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,2615,m,24.000000,Belarus,"Aug 6, 2008"
12262,fffa9294e858a7c863b5ad363c748c2330d9bd45,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,1870,m,23.000000,United States,"Sep 25, 2005"
12263,fffa9d62caff0f038c7a35db70f109b1bba04a1d,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,the beatles,456,m,20.000000,United States,"Jan 16, 2009"

In [14]:
# WE convert the registration date into no.of days since registered
model_df_with_features["registered_on"] = pd.to_datetime(model_df_with_features["registered_on"])

In [15]:
model_df_with_features["curr_date"] = pd.to_datetime("2017-12-01")

In [16]:
duration = model_df_with_features["curr_date"] - model_df_with_features["registered_on"]
import numpy as np
duration=(duration / np.timedelta64(1, 'D')).astype(int)
model_df_with_features["duration"] = duration

In [17]:
# Finally we drop the registred and curr date columns
model_df_with_features.drop(labels = ["curr_date","registered_on"],axis=1,inplace=True)

### 1-hot-encoding of Country Variable

In [20]:
top_countries = model_df_with_features["country"].value_counts().index[0:50]
model_df_with_features["country"] = np.where(model_df_with_features["country"].isin(top_countries),
                                            model_df_with_features["country"],"Others")
country_dummies = pd.get_dummies(model_df_with_features["country"])
model_df_with_features = pd.concat([model_df_with_features,country_dummies],axis=1)

In [21]:
# We also convert gender to numeric values
model_df_with_features["gender"] = [1 if gender == "m" else 2 for gender in model_df_with_features["gender"]]

In [22]:
model_df_with_features["gender"].value_counts()

1    9562
2    2702
Name: gender, dtype: int64

In [23]:
model_df_with_features.columns

Index([u'user_id', u'artist_id', u'artist_name', u'no_plays', u'gender',
       u'age', u'country', u'duration', u'Antarctica', u'Argentina',
       u'Australia', u'Austria', u'Belarus', u'Belgium', u'Brazil',
       u'Bulgaria', u'Canada', u'Chile', u'China', u'Colombia', u'Croatia',
       u'Czech Republic', u'Denmark', u'Estonia', u'Finland', u'France',
       u'Germany', u'Hungary', u'Iceland', u'India', u'Indonesia', u'Ireland',
       u'Israel', u'Italy', u'Japan', u'Latvia', u'Lithuania', u'Mexico',
       u'Netherlands', u'New Zealand', u'Norway', u'Others', u'Peru',
       u'Philippines', u'Poland', u'Portugal', u'Romania',
       u'Russian Federation', u'Serbia', u'Slovakia', u'Slovenia', u'Spain',
       u'Sweden', u'Switzerland', u'Thailand', u'Turkey', u'Ukraine',
       u'United Kingdom', u'United States'],
      dtype='object')

## Training a Regression Model <a name="model_train"></a>

In [24]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(model_df_with_features.drop(labels=["user_id","artist_id","artist_name", "no_plays","country"],axis=1),
                                                   model_df_with_features["no_plays"],
                                                    test_size=0.3, random_state = 123)
X_train.shape

(8584, 54)

In [25]:
# WE next train a linear regresison model
from sklearn.linear_model import LinearRegression
reg_model = LinearRegression()
train_model = reg_model.fit(X_train,y_train)

In [26]:
# We score the model on the test set
pred_test = train_model.predict(X_test)

In [27]:
pred_test[0:12]

array([  861.83459253,  1190.57043899,   982.99250732,   790.75397325,
        1324.59567942,  1058.34907265,   833.68264684,  1123.69175757,
        1270.05569063,   832.63723322,  1329.61036888,  1347.64742699])

In [28]:
from sklearn.metrics import r2_score
r2_score(y_test, pred_test)

0.00060218189135552436

## Generic Function

In [29]:
def generate_artist_prediction(artist_id):
    # WE next filter our total plays dataset on this artist id as well as the top 50k user ids
    artist_play_data = plays_data[(plays_data["artist_id"] == artist_id) & (plays_data["user_id"].isin(top_50k_users))]
    
    # Map features
    model_df_with_features = pd.merge(artist_play_data, user_profile, on = "user_id",how="left")
    
    # Missing value imputation
    # We do a median imputation for age and mode imputation for gender
    age_impute = model_df_with_features["age"].mean()
    gender_impute = model_df_with_features["gender"].value_counts().index[0]
    model_df_with_features.fillna({"age": age_impute, "gender": gender_impute}, inplace = True)
    
    # WE convert the registration date into no.of days since registered
    model_df_with_features["registered_on"] = pd.to_datetime(model_df_with_features["registered_on"])
    model_df_with_features["curr_date"] = pd.to_datetime("2017-12-01")
    duration = model_df_with_features["curr_date"] - model_df_with_features["registered_on"]
    import numpy as np
    duration=(duration / np.timedelta64(1, 'D')).astype(int)
    model_df_with_features["duration"] = duration
    # Finally we drop the registred and curr date columns
    model_df_with_features.drop(labels = ["curr_date","registered_on"],axis=1,inplace=True)
    
    #1-hot encoding of countries
    top_countries = model_df_with_features["country"].value_counts().index[0:50]
    model_df_with_features["country"] = np.where(model_df_with_features["country"].isin(top_countries),
                                            model_df_with_features["country"],"Others")
    country_dummies = pd.get_dummies(model_df_with_features["country"])
    model_df_with_features = pd.concat([model_df_with_features,country_dummies],axis=1)
    # We also convert gender to numeric values
    model_df_with_features["gender"] = [1 if gender == "m" else 2 for gender in model_df_with_features["gender"]]
    
    # Train model
    from sklearn.model_selection import train_test_split
    X_train, X_test, y_train, y_test = train_test_split(model_df_with_features.drop(labels=["user_id","artist_id","artist_name", "no_plays","country"],axis=1),
                                                   model_df_with_features["no_plays"],
                                                    test_size=0.3, random_state = 123)
    # Next we train a Logistic Regresison model
    from sklearn.linear_model import LinearRegression
    reg_model = LinearRegression()
    train_model = reg_model.fit(X_train,y_train)

    # model performance
    # We score the model on the test set
    pred_test = train_model.predict(X_test)
    
    from sklearn.metrics import r2_score
    r2_score_val = r2_score(y_test, pred_test)
    
    res = {"r2_score_val":r2_score_val}
    return res

In [30]:
# running the function on the 2nd most played artist
selected_artist = tot_plays_artist.index[1]
generate_artist_prediction(selected_artist)

{'r2_score_val': 0.0019778114434344518}